<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>ShopApp</title>
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/style.css"> @*wwroot altında cssin içde stylecss dosyası açtım ona bazı özellikler verdim ve link olarak burayla entegre ettim*@
</head>
<body>

    @await Html.PartialAsync("_navbar")

    <main class="mb-3">
        <div class="container"> 
                 <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                 </div>        
        </div>
    </main>
  <footer class="py-5 bg-dark text-white text-center">
        Shop App | 2020
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  @RenderSection("Scripts",false)
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.8.1/css/all.css">
</body>
</html>